<body>

    <h2 name="categorie" id="entrees" class="mb-3 text-decoration-underline m row justify-content-center" `>Entrées</h2>

    <section class="d-flex flex-row justify-content-center mb-4">

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/public/entree_salade_crudites.jpg" alt="Card salade crudités ">
            <div class="card-body">
                <h5 class="card-title">Salade de crudités</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>

            </div>
        </div>

        <div class="card ms-3 me-3" style="width: 18rem;">
            <img name="image" class="card-img-top" src="/public/entree_salade_complete.jpg" alt="Card salade composée ">
            <div class="card-body">
                <h5 name="titre" class="card-title" id="">Salade composée</h5>
                <p name="recette" class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>

            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/public/entree_salade_olivier.jpg" alt="Card salade olivier ">
            <div class="card-body">
                <h5 class="card-title">Salade olivier</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>

            </div>
        </div>

    </section>


    {{!-- <h2 id="plats-principals" class=" m-4 text-decoration-underline m row justify-content-center" `>Plats principals
    </h2>

    <section class="d-flex flex-row justify-content-center">

        <div class="card m-5" style="width: 18rem;">
            <img class="card-img-top" src="/public/plat_princip_saucisses.jpg" alt="Card plat principal saucisses ">
            <div class="card-body">
                <h5 class="card-title">Plat de saucisses</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>

            </div>
        </div>

        <div class="card m-5" style="width: 18rem;">
            <img class="card-img-top" src="/public/poisson_legum.jpg" alt="Card plat poisson et légumes ">
            <div class="card-body">
                <h5 class="card-title">Poisson et ses petits légumes</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>

            </div>
        </div>

        <div class="card m-5" style="width: 18rem;">
            <img class="card-img-top" src="/public/bortsch_plat_princip.jpg" alt="Card plat bortsch ">
            <div class="card-body">
                <h5 class="card-title">Bortsch</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>

            </div>
        </div>

    </section>

    <h2 id="desserts" class=" m-4 text-decoration-underline m row justify-content-center" `>Désserts</h2>

    <section class="d-flex flex-row justify-content-center">

        <div class="card m-5" style="width: 18rem;">
            <img class="card-img-top" src="/public/mini_gateau_chinois.jpg" alt="Card mini gâteau ">
            <div class="card-body">
                <h5 class="card-title">Gâteau chinois</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>

            </div>
        </div>

        <div class="card m-5" style="width: 18rem;">
            <img class="card-img-top" src="/public/gateau_citrouille.jpg" alt="Card gâteau citrouille ">
            <div class="card-body">
                <h5 class="card-title">Gâteau citrouille</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>

            </div>
        </div>

        <div class="card m-5" style="width: 18rem;">
            <img class="card-img-top" src="/public/gateau_aniv_choc.jpg" alt="Card gâteau anniversiare au chocolat ">
            <div class="card-body">
                <h5 class="card-title">Gâteau d'anniversaire au chocolat</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>

            </div>
        </div>

    </section> --}}

</body>

</html>