<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gestion d'utilisateurs</title>
</head>

<body>
    <div class="container-lg mt-5 mb-4">

        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8 mb-4">
                        <h2>Utilisateurs <b>Articles</b></h2>
                    </div>
                </div>
            </div>
            <table class="table table-bordered border-dark">
                <thead>
                    <tr class="text-center">
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Articles</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John Doe</td>
                        <td>Administration@gmail.com</td>
                        <td>Gateaux au chocolat</td>
                        <td class="text-center">
                            <a class="edit" title="" data-toggle="tooltip" data-original-title="Edit">
                                <i class="material-icons"></i></a>
                            <a class="delete" class="text-center" title="" data-toggle="tooltip" data-original-title="Delete">
                                <i class="material-icons"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Peter Parker</td>
                        <td>user@gmail.com</td>
                        <td>Poulet au curry</td>
                        <td class="text-center">
                            <a class="edit" title="" data-toggle="tooltip" data-original-title="Edit">
                                <i class="material-icons"></i></a>
                            <a class="delete" title="" data-toggle="tooltip" data-original-title="Delete">
                                <i class="material-icons"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Fran Wilson</td>
                        <td>random@hotmail.com</td>
                        <td>Salade cesar</td>
                        <td class="text-center">
                            <a class="edit" title="" data-toggle="tooltip" data-original-title="Edit">
                                <i class="material-icons"></i></a>
                            <a class="delete" title="" data-toggle="tooltip" data-original-title="Delete">
                                <i class="material-icons"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</body>

</html>