<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <H1 class="text-decoration-underline m row justify-content-center">Accueil</H1>
  <section class="d-flex flex-row justify-content-center ">
    <div class="card m-2" style="width: 18rem;">
      <img src="/public/entrees.jpg" alt="entrées">
      <div class="card-body row justify-content-center">
        <h5 class="card-title row justify-content-center">Entrées</h5>
        <p class="card-text row justify-content-center">Venez découvrir nos entrées</p>
        <a href="/article" class="btn btn-primary">Entrées</a>
      </div>
    </div>

    <div class="card m-2" style="width: 18rem;">
      <img src="/public/plats.jpg" alt="plats">
      <div class="card-body row justify-content-center">
        <h5 class="card-title row justify-content-center">Plats</h5>
        <p class="card-text row justify-content-center">Venez découvrir nos plats</p>
        <a href="/article" class="btn btn-primary">Plats</a>
      </div>
    </div>

    <div class="card m-2" style="width: 18rem;">
      <img src="/public/desserts.jpg" alt="desserts">
      <div class="card-body row justify-content-center">
        <h5 class="card-title row justify-content-center">desserts</h5>
        <p class="card-text row justify-content-center">venez découvrir nos desserts</p>
        <a href="/article" class="btn btn-primary">desserts</a>
      </div>
    </div>
  </section>

</body>

</html>