<body>

    <h2 name="categorie" id="plats" class="mb-3 text-decoration-underline m row justify-content-center" `>Plats</h2>

    <section class="container d-flex flex-row justify-content-center mb-4 col-5">

        {{#each data}}

        <div class="card ms-4 me-4" style="width: 18rem;">
            <img class="card-img-top" src="/public/{{image}}">
            <div class="card-body">
                <h5 class="card-title">{{titre}}</h5>
                <textarea class="form-control  w-100" rows="5" style="resize:none;">{{recette}}</textarea>

            </div>
        </div>

        {{/each}}

    </section>

</body>

</html>